<div class="mat-card-wrapper">
    <mat-card class="header">
        <mat-card-title>Découpage Technique</mat-card-title>
        <div class="flex-container">
            <div class="flex-scene long">Scène</div>
            <div class="flex-scene short">#S</div>
            <div class="divider-v"></div>
            <div class="flex-plan long">Plan</div>
            <div class="flex-plan short">#P</div>
            <div class="divider-v"></div>
            <div class="flex-vplan long">Valeur</div>
            <div class="flex-vplan short">Plan</div>
            <div class="divider-v"></div>
            <div class="flex-angle">Angle</div>
            <div class="divider-v"></div>
            <div class="flex-mouvement long">Mouvement</div>
            <div class="flex-mouvement short">Mouv</div>
            <div class="divider-v"></div>
            <div class="flex-objectif small-screen">Focal</div>
            <div class="divider-v small-screen"></div>
            <div class="flex-ouverture small-screen">Ouverture</div>
            <div class="divider-v small-screen"></div>
            <div class="flex-acteurs mid-screen">Acteurs</div>
            <div class="divider-v mid-screen"></div>
            <div class="flex-description mid-screen">Description</div>
            <div class="divider-v mid-screen"></div>
            <div class="flex-temps long">Durée</div>
            <div class="flex-temps short">Tps</div>
        </div>
    </mat-card>

    <mat-card class="content">
        <div>
            <div class="flex-container">
                <div class="flex-scene">100</div>
                <div class="divider-v"></div>
                <div class="flex-plan">100</div>
                <div class="divider-v"></div>
                <div class="flex-vplan">Large</div>
                <div class="divider-v"></div>
                <div class="flex-angle">Dutch drodzdadazzzzzzzzzzzzzzzzzzzzzzzzdaz</div>
                <div class="divider-v"></div>
                <div class="flex-mouvement">Tracking</div>
                <div class="divider-v"></div>
                <div class="flex-objectif small-screen">100mm</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-ouverture small-screen">f/22.2</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-acteurs mid-screen">Acteurs</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-description mid-screen">Description</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-temps">123min</div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div>
            <div class="flex-container">
                <div class="flex-scene">100</div>
                <div class="divider-v"></div>
                <div class="flex-plan">100</div>
                <div class="divider-v"></div>
                <div class="flex-vplan">Large</div>
                <div class="divider-v"></div>
                <div class="flex-angle">Dutch drodzdadazzzzzzzzzzzzzzzzzzzzzzzzdaz</div>
                <div class="divider-v"></div>
                <div class="flex-mouvement">Tracking</div>
                <div class="divider-v"></div>
                <div class="flex-objectif small-screen">100mm</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-ouverture small-screen">f/22.2</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-acteurs mid-screen">Acteurs</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-description mid-screen">Description</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-temps">123min</div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div>
            <div class="flex-container">
                <div class="flex-scene">100</div>
                <div class="divider-v"></div>
                <div class="flex-plan">100</div>
                <div class="divider-v"></div>
                <div class="flex-vplan">Large</div>
                <div class="divider-v"></div>
                <div class="flex-angle">Dutch drodzdadazzzzzzzzzzzzzzzzzzzzzzzzdaz</div>
                <div class="divider-v"></div>
                <div class="flex-mouvement">Tracking</div>
                <div class="divider-v"></div>
                <div class="flex-objectif small-screen">100mm</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-ouverture small-screen">f/22.2</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-acteurs mid-screen">Acteurs</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-description mid-screen">Description</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-temps">123min</div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div>
            <div class="flex-container">
                <div class="flex-scene">100</div>
                <div class="divider-v"></div>
                <div class="flex-plan">100</div>
                <div class="divider-v"></div>
                <div class="flex-vplan">Large</div>
                <div class="divider-v"></div>
                <div class="flex-angle">Dutch drodzdadazzzzzzzzzzzzzzzzzzzzzzzzdaz</div>
                <div class="divider-v"></div>
                <div class="flex-mouvement">Tracking</div>
                <div class="divider-v"></div>
                <div class="flex-objectif small-screen">100mm</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-ouverture small-screen">f/22.2</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-acteurs mid-screen">Acteurs</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-description mid-screen">Description</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-temps">123min</div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div>
            <div class="flex-container">
                <div class="flex-scene">100</div>
                <div class="divider-v"></div>
                <div class="flex-plan">100</div>
                <div class="divider-v"></div>
                <div class="flex-vplan">Large</div>
                <div class="divider-v"></div>
                <div class="flex-angle">Dutch drodzdadazzzzzzzzzzzzzzzzzzzzzzzzdaz</div>
                <div class="divider-v"></div>
                <div class="flex-mouvement">Tracking</div>
                <div class="divider-v"></div>
                <div class="flex-objectif small-screen">100mm</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-ouverture small-screen">f/22.2</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-acteurs mid-screen">Acteurs</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-description mid-screen">Description</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-temps">123min</div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div>
            <div class="flex-container">
                <div class="flex-scene">100</div>
                <div class="divider-v"></div>
                <div class="flex-plan">100</div>
                <div class="divider-v"></div>
                <div class="flex-vplan">Large</div>
                <div class="divider-v"></div>
                <div class="flex-angle">Dutch drodzdadazzzzzzzzzzzzzzzzzzzzzzzzdaz</div>
                <div class="divider-v"></div>
                <div class="flex-mouvement">Tracking</div>
                <div class="divider-v"></div>
                <div class="flex-objectif small-screen">100mm</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-ouverture small-screen">f/22.2</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-acteurs mid-screen">Acteurs</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-description mid-screen">Description</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-temps">123min</div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div>
            <div class="flex-container">
                <div class="flex-scene">100</div>
                <div class="divider-v"></div>
                <div class="flex-plan">100</div>
                <div class="divider-v"></div>
                <div class="flex-vplan">Large</div>
                <div class="divider-v"></div>
                <div class="flex-angle">Dutch drodzdadazzzzzzzzzzzzzzzzzzzzzzzzdaz</div>
                <div class="divider-v"></div>
                <div class="flex-mouvement">Tracking</div>
                <div class="divider-v"></div>
                <div class="flex-objectif small-screen">100mm</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-ouverture small-screen">f/22.2</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-acteurs mid-screen">Acteurs</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-description mid-screen">Description</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-temps">123min</div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div>
            <div class="flex-container">
                <div class="flex-scene">100</div>
                <div class="divider-v"></div>
                <div class="flex-plan">100</div>
                <div class="divider-v"></div>
                <div class="flex-vplan">Large</div>
                <div class="divider-v"></div>
                <div class="flex-angle">Dutch drodzdadazzzzzzzzzzzzzzzzzzzzzzzzdaz</div>
                <div class="divider-v"></div>
                <div class="flex-mouvement">Tracking</div>
                <div class="divider-v"></div>
                <div class="flex-objectif small-screen">100mm</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-ouverture small-screen">f/22.2</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-acteurs mid-screen">Acteurs</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-description mid-screen">Description</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-temps">123min</div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div>
            <div class="flex-container">
                <div class="flex-scene">100</div>
                <div class="divider-v"></div>
                <div class="flex-plan">100</div>
                <div class="divider-v"></div>
                <div class="flex-vplan">Large</div>
                <div class="divider-v"></div>
                <div class="flex-angle">Dutch drodzdadazzzzzzzzzzzzzzzzzzzzzzzzdaz</div>
                <div class="divider-v"></div>
                <div class="flex-mouvement">Tracking</div>
                <div class="divider-v"></div>
                <div class="flex-objectif small-screen">100mm</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-ouverture small-screen">f/22.2</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-acteurs mid-screen">Acteurs</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-description mid-screen">Description</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-temps">123min</div>
            </div>
            <mat-divider></mat-divider>
        </div>

    </mat-card>
    <!-- <div>
        <mat-card>
            <form [formGroup]="form" class="form">
                <mat-form-field class="form-field" *ngFor="let control of form.controls | keyvalue">
                    <input matInput [formControlName]="control.key" placeholder="Colonne {{ control.key }}">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="addRow()">Ajouter</button>
            </form>
        </mat-card>
    </div> -->
</div>